

<form class="biggerfont" action="/home/<%= current_user.id %>" method="post" class="forms">


<input id="hidden" type="hidden" name="_method" value="patch">

<label for="age">Age:</label><br>
<input class="submissionfield" type="text" name="user[age]" id="age" value="<%= current_user.age %>" placeholder="Example: 53" required><br>
<label for="height">Height in inches:</label><br>
<input class="submissionfield" type="text" name="user[height]" id="height" value="<%= current_user.height %>" placeholder="Example: 65" required><br>
<label for="weight">Weight in pounds:</label><br>
<input class="submissionfield" type="text" name="user[weight]" id="weight" value="<%= current_user.weight %>" placeholder="Example: 205" required>

<% if @user && @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class="errors"><%= error %></p>
  <% end %>
<% end %>

<br><br>

<label for="gender">Gender:</label><br>
<input type="radio" name="user[gender]" id="gender" value="male" required>
<label for="gender">Male</label><br>
<input type="radio" name="user[gender]" id="gender" value="female">
<label for="gender">Female</label><br><br>

<label for="activity_level">Activity level:</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_1" value="1" required>
<label for="activity_level_1">Sedentary (little or no exercise)</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_2" value="2">
<label for="activity_level_2">Low-Active (light exercise or sports 1-3x a week)</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_3" value="3">
<label for="activity_level_3">Active (moderate exercise or sports 3-5x a week)</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_4" value="4">
<label for="activity_level_4">Very Active (hard exercise or sports 6-7x a week)</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_5" value="5">
<label for="activity_level_5">Extra Active (very hard exercise or professional athlete)</label><br><br>


<label>Goal:</label><br>
<input type="radio" name="user[goal]" id="goal_1" value="losing a pound a week" required>
<label for="goal_1">Lose a pound a week</label><br>
<input type="radio" name="user[goal]" id="goal_2" value="losing half a pound a week">
<label for="goal_2">Lose half a pound a week</label><br>
<input type="radio" name="user[goal]" id="goal_3" value="maintaining weight">
<label for="goal_3">Maintain current weight</label><br>
<input type="radio" name="user[goal]" id="goal_4" value="gaining half a pound a week">
<label for="goal_4">Gain half a pound a week</label><br>
<input type="radio" name="user[goal]" id="goal_5" value="gaining a pound a week">
<label for="goal_5">Gain a pound a week</label><br><br>


<input class="submissionbutton" type="submit" value="Edit User">
</form><br>
