

<form action="/home/<%= current_user.id %>" method="post" class="forms">


<input id="hidden" type="hidden" name="_method" value="patch">

<label for="age">Age:</label><br>
<input class="submissionfield" type="text" name="user[age]" id="age" value="<%= current_user.age %>" placeholder="Age"><br>
<label for="height">Height in inches:</label><br>
<input class="submissionfield" type="text" name="user[height]" id="height" value="<%= current_user.height %>" placeholder="Height in inches"><br>
<label for="weight">Weight in pounds:</label><br>
<input class="submissionfield" type="text" name="user[weight]" id="weight" value="<%= current_user.weight %>" placeholder="Weight in pounds">

<% if @user.errors.any? %>
  <% @errors.each do |error| %>
    <p class="errors"><%= error %></p>
  <% end %>
<% end %>

<br><br>

<label for="gender">Gender:</label><br>
<input type="radio" name="user[gender]" id="gender" value="male">
<label for="gender">Male</label><br>
<input type="radio" name="user[gender]" id="gender" value="female">
<label for="gender">Female</label><br><br>

<label for="activity_level">Activity level:</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_1" value="1">
<label for="activity_level_1">Sedentary</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_2" value="2">
<label for="activity_level_2">Low-Active</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_3" value="3">
<label for="activity_level_3">Active</label><br>
<input type="radio" name="user[activity_level]" id="activity_level_4" value="4">
<label for="activity_level_4">Very Active</label><br><br>
<input class="submissionbutton" type="submit" value="Edit User">

</form><br>
