<h2>Hello, <%= @current_user.name %>!</h2>

<% if @not_filled %>
  <h3 class="errors">You need to complete your profile before you can add meals</h3>
<% end %>


<!--If tdee is filled up, display info-->
<% if !current_user.tdee.nil?  %>
  <div class="biggerfont">
    <p>Your current weight is <span class="bold"><%= current_user.weight %></span> pounds</p>

    <p>Your BMR is <span class="bold"><%= current_user.bmr %></span> Calories. (Your basal metabolic rate - Your body naturally burns that much in a day!)</p>

    <p>Your TDEE is <span class="bold"><%= current_user.tdee %></span> Calories. (This is your total daily energy expedenture - Your caloric maintenace.) </p>

    <p>You have consumed <span class="bold"><%= @current_calories %></span> Calories so far. You are <span class="bold"><%= current_user.tdee - @current_calories %></span> Calories away from from <span class="bold"><%= current_user.tdee %></span></p><br>

  </div>
<% else %> <!--if tdee still nil, make user complete filling out profile-->

  <p>Please fill out profile:</p>

  <!--Loads the form for editing user-->
  <%= erb :"/users/_form" %>


<% end %>
