<div class="center-container">

<h2>Hello, <%= @current_user.name %>!</h2>

<% if @not_filled %>
  <h3 class="errors">You need to complete your profile before you can add meals.</h3>
  <a class="submissionbutton" href="/meals/new">Add one now.</a>
<% end %>


<!--If tdee is filled up, display info-->
<% if !@user.tdee.nil? %>
  <div class="biggerfont">
    <p>Your current weight:</p>
    <p> <span class="bold"><%= @user.weight %></span> pounds</p>

    <p>Your consumption for today  
    <p><span class="bold"><%= @current_calories %></span> Calories</p>

    <p>Recommended Calories for reaching your goal of <span class="bold"><%= @user.goal %></span>:</p>

    <p><span class="bold"><%= recommended_calories_for_goal(@user) %></span> Calories</p>

    <p>Your basal metabolic rate - Your body naturally burns that much in a day!</p>
    <p> <span class="bold"><%= @user.bmr %></span> Calories</p>

    <p>Your total daily energy expedenture - Your caloric maintenace.</p>
    <p> <span class="bold"><%= @user.tdee %></span> Calories</p>

  </div>
<% end %>

</div>