<h2>Hello, <%= @current_user.username.capitalize %>!</h2>

<% if @not_filled %>
  <h3 class="errors">You need to complete your profile before you can add meals.</h3>
  <a class="submissionbutton" href="/meals/new">Add one now.</a>
<% end %>


<!--If tdee is filled up, display info-->
<% if !@user.tdee.nil? %>
    
    <p>These are your current stats.</p>

    <table>
      <tr>
        <th>Current Weight (lbs)</th>
        <th>Goal</th>
        <th>Current (kcal)</th>
        <th>Recommended (kcal)</th>
        <th>BMR (kcal)</th>
        <th>TDEE (kcal)</th>
      </tr>
      <tr>
        <td><%= @user.weight %></td>
        <td><%= @user.goal %></td>
        <td><%= @current_calories %></td>
        <td><%= recommended_calories_for_goal(@user) %></td>
        <td><%= @user.bmr %></td>
        <td><%= @user.tdee %></td>
      </tr>
  </table> 



<% end %>
