
<div class="meals">

<form action="/meals/<%= @meal.id %>" method="post" class="forms">
  <input type="hidden" name="_method" value="patch">

  <h3>Hello <%= @current_user.username.capitalize %>, edit your meal</h3>
  
  <label for="name">Name of meal:</label><br>
  <input class="submissionfield" type="text" name="meal[name]" id="name" placeholder="Exmaple: Beef Wellington <%= @meal.name %>" value="<%= @meal.name %>" required><br>
  <label for="calories">Amount of Calories</label><br>
  <input class="submissionfield" type="text" name="meal[calories]" id="calories" placeholder="Example: 650 <%= @meal.calories %>" value="<%= @meal.calories %>" required><br>
  <label for="notes">Notes:</label><br>
  <input class="submissionfield" type="text" name="meal[notes]" id="notes" placeholder="Write your notes here" value="<%= @meal.notes %>"><br>


<% if @meal && @meal.errors.any? %>
  <% @meal.errors.full_messages.each do |error| %>

    <p class="errors"><%= error %></p>
    
  <% end %>
<% end %>

  <input class="submissionbutton" type="submit" value="Edit Meal">

</form>

<% if @meal.user == current_user %>
  <form action="/meals/<%= @meal.id %>" method="post">
  
    <input type="hidden" name="_method" value="delete">
    <input class="submissionbutton" type="submit" value="Delete Meal">
  
  </form>
<% end %>

</div>