<h3><%= @cc %> Calories so far. You are <%= current_user.tdee - @cc %> Calories away from from <%= current_user.tdee %></h3>

<h3>Logged Meals for <%= Date.today.strftime("%A, %B %d, %Y") %></h3>


<% MealHelper.meals_from_today(@meals).sort_by{|m| m.created_at}.reverse.each do |meal| %>
  <div class="meals">
    <p class="meal_content">Name: <%= meal.name %></p>
    <p class="meal_content">Calories: <%= meal.calories %> Calories.</p>
    <p class="meal_content">Added on: <%= meal.created_at %></p> 
    <a  class="meal_content" href="/meals/<%= meal.id %>/edit">Edit</a>
    <br><br>
  </div>
<% end %>