<% if current_user.meals.empty? %>

  <h3 class="errors">You need to add a meal, hungry child.</h3>

<% else %>

  <h3><%= @current_calories %> Calories so far. You are <%= current_user.tdee - @current_calories %> Calories away from from <%= current_user.tdee %></h3><br>

  <h3>Logged Meals for <%= Date.today.strftime("%A, %B %d, %Y") %></h3>

  <% @sorted_meals.each do |meal| %>
    <div class="meals">
      <p class="meal_content">Name: <%= meal.name %></p>
      <p class="meal_content">Calories: <%= meal.calories %></p>
      <p class="meal_content">Added at: <%= meal.created_at.strftime("%l:%M%p") %></p> 
      <a class="submissionbutton" class="meal_content" href="/meals/<%= meal.id %>/edit">Edit</a>
      <br><br>
    </div>
  <% end %>

<% end %>